$tan: #D7BB98;
$lightgreen: #698c6d;
$peach: #d4938b;
$darkgreen: #024c3c;

html {
    // font-family: 'eb garamond';
    font-family: 'Playfair Display';
    background: lighten($tan, 15%);
    min-height: 100vh;
}

form {
    .success-message {
        font-family: 'roboto';
        box-shadow: 5px 5px 10px 1px #555;
    }

    .form-text {
        max-width: 64ch;
        padding: 4px 8px;
        border-radius: 8px;
        font-family: 'roboto';
        border: 2px solid #698C6D;
        box-shadow: 2px 2px 5px #555;
    }

    label {
        color: #024C3C;
        font-weight: 600;
        font-family: 'roboto';
        max-width: 64ch;
    }

    .field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .actions {
        .submit {
            font-family: 'Roboto';
            border-radius: 10px;
            background: rgba(212, 147, 139, 0.15);
            border: 2px solid #D7bb98;
            min-height: 44px;
            min-width: 10ch;
            padding: 8px 8px;
            color: #024C3C;
            font-weight: bold;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}

.text-darkgreen {
    color: #024C3C;
}

.text-lightgreen {
    color: #698C6D;
}

.card {
    padding: 1rem;
    margin-top: 2rem;
    background: lighten($tan, 20%);
    border: 2px solid $darkgreen;
}

.program {
    padding: 1rem;
    margin-top: 2rem;
    background: lighten($tan, 40%);
    border: 2px solid $darkgreen;

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    li {
        font-style: italic;
        font-weight: bold;
    }
}

.faq {
    dd, dt {
        text-align: center;
        max-width: 80ch;
        margin-left: auto;
        margin-right: auto;
    }

    dt {
        // font-family: 'Quattrocento';
        font-family: 'Playfair Display';
        font-weight: bold;
        font-size: 22px;
    }

    dd {
        font-size: 16px;
    }
}

nav {
    background-color: lighten($tan, 15%);
    border-bottom: 1px solid black;
    
    a {
        text-wrap: nowrap;
    }
}

.home-border {
    width: 100%;
    max-width: 800px;
    border-bottom: 3px solid rgba($color: $darkgreen, $alpha: 1);
    margin-left: auto;
    margin-right: auto;
}

.wed-bg-tan {
    background-color: lighten($tan, 15%);
}

nav.open {
    ~main {
        overflow-x: hidden;
        transform: translateX(50%);
    }

    svg.open {
        display: none;
    }

    svg.close {
        display: block;
    }
}

nav.closed {
    svg.close {
        display: none;
    }
    svg.open {
        display: block;
    }
}

.rsvp-btn {
    font-family: 'Lato';
    border-color: $darkgreen;
    border: 3px solid;
    background-color: lighten($lightgreen, 20%);
    padding: 8px 48px;
    transition: 100ms;
    box-shadow: 2px 2px 5px #555;

    &:hover {
        text-decoration: underline;
        box-shadow: 3px 3px 6px #555;
    }
}


blockquote {
    font-family: 'Playfair Display';
    font-weight: 500;
    padding: 40px 80px 40px;
    position: relative;
}
blockquote p {
    font-family: "Utopia-italic";
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
}

 blockquote:before {
    position: absolute;
    font-family: "FontAwesome";
    top: -40px;
    content: "\f10d";
    font-size: 120px;
    color: rgba(0, 0, 0, 0.25);
   
}

.little-box-shadow {
    box-shadow: 5px 5px 10px 1px #555;
}