$tan: #D7BB98;
$lightgreen: #698c6d;
$peach: #d4938b;
$darkgreen: #024c3c;

html {
    font-family: 'eb garamond';
    background: lighten($tan, 15%);
    min-height: 100vh;
}

form {
    .form-text {
        max-width: 64ch;
        padding: 4px 8px;
        border-radius: 8px;
        font-family: 'roboto';
        border: 2px solid #698C6D;
    }

    label {
        color: #024C3C;
        font-weight: 600;
        font-family: 'roboto';
    }

    .field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .actions {
        .submit {
            font-family: 'Roboto';
            border-radius: 10px;
            background: rgba(212, 147, 139, 0.15);
            border: 2px solid #D7bb98;
            min-height: 44px;
            min-width: 10ch;
            padding: 8px 8px;
            color: #024C3C;
            font-weight: bold;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}

.text-darkgreen {
    color: #024C3C;
}

.text-lightgreen {
    color: #698C6D;
}

.card {
    padding: 1rem;
    margin-top: 2rem;
    background: lighten($tan, 20%);
    border: 2px solid $darkgreen;
}

.program {
    padding: 1rem;
    margin-top: 2rem;
    background: lighten($tan, 40%);
    border: 2px solid $darkgreen;

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    li {
        font-style: italic;
        font-weight: bold;
    }
}

.faq {
    dd, dt {
        text-align: center;
        max-width: 80ch;
        margin-left: auto;
        margin-right: auto;
    }

    dt {
        font-family: 'Quattrocento';
        font-weight: bold;
        font-size: 22px;
    }

    dd {
        font-size: 16px;
    }
}

nav {
    background-color: lighten($tan, 15%);
    border-bottom: 1px solid black;
    
    a {
        text-wrap: nowrap;
    }
}

.home-border {
    width: 100%;
    max-width: 800px;
    border-bottom: 3px solid rgba($color: $darkgreen, $alpha: 1);
    margin-bottom: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.wed-bg-tan {
    background-color: lighten($tan, 15%);
}

nav.open {
    ~main {
        overflow-x: hidden;
        transform: translateX(50%);
    }

    svg.open {
        display: none;
    }

    svg.close {
        display: block;
    }
}

nav.closed {
    svg.close {
        display: none;
    }
    svg.open {
        display: block;
    }
}