---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Venue'>
    <main class="min-h-screen mt-12 pt-4">
        <h1 class="mx-auto text-4xl text-center pl-8">FREQUENTLY ASKED QUESTIONS</h1>
        <dl class="flex flex-col gap-6 justify-center faq">
            <div class="flex flex-col align justify-center">
                <dt>When is the RSVP deadline?</dt>
                <dd>Idk</dd>
            </div>
            <div class="flex flex-col align justify-center gap-0">
                <dt>What time should we arrive for the ceremony?</dt>
                <dd>Drinks and little finger food will be ready for everyone before the ceremony. So if you wish to mingle and have something to drink, please arrive no later than 11:15am. Ceremony will punctually start at 11:30am and we wish everyone to be seated  by then.</dd>
            </div>
            <div class="flex flex-col align justify-center gap-0">
                <dt>What is the dress code?</dt>
                <dd>We'd love to see our family and friends get dressed up for our big day. Dress code is semi-formal attire with this colour motif. (insert colour palette)</dd>
            </div>
            <div class="flex flex-col align justify-center gap-0">
                <dt>Can I bring a plus one?</dt>
                <dd>Due to limited space, we can only accommodate those guests formally invited and listed on the guest list page. Thank you for understanding!</dd>
            </div>
            <div class="flex flex-col align justify-center gap-0">
                <dt>Are kids invited?</dt>
                <dd>We love little ones, thus they are welcome to the wedding provided that they would not interrupt the proceedings/ceremony. Little activities would be provided to keep them entertained during the wedding reception.</dd>
            </div>
        </dl>
    </main>
</Layout>