---
import { getImage, Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import bgImage from '../photos/hands.jpg'

const optimizedBackgroundImage = await getImage({ src: bgImage, width: 1000 })
---

<Layout title="Guest List">
    <main class="min-h-screen mt-12 pt-4">
        <div class="flex flex-col items-center pt-10 parallax relative px-4" style={`background-image: url(${optimizedBackgroundImage.src})`}>
            <div class="h-full w-full opacity-70 absolute top-0 bg-white"></div>
            <h1 transition:name="guestlist-transition">Guest List</h1>
        </div>
        <!-- <dl class="flex  justify-center items-center flex-col gap-8" >
            <div class="mb-1">
                <h2 class="mb-1 text-4xl">Bridesmaids</h2>
                <ul class="flex flex-col justify-center items-center gap-1">
                    <li>Jessica Elsie Rose White</li>
                    <li>Kirsty Renee Van den Hoff</li>
                    <li>Laura Dorothy White</li>
                    <li>Marissa Louise Van den Hoff</li>
                </ul>
            </div>
            <div>
                <h2 class="mb-1 text-4xl">Groomsmen</h2>
                <ul class="flex flex-col justify-center items-center">
                    <li>Blake William Draper</li>
                    <li>Justin Ray Cabahug</li>
                    <li>Thompson Bonneville Slee</li>
                    <li>Samuel Barnetby</li>
                </ul>
            </div>
            <div>
                <h2 class="mb-1 text-4xl">Flower Girls</h2>
                <ul class="flex flex-col justify-center items-center">
                    <li>Bella Julie White</li>
                    <li>Paige Jennifer White</li>
                    <li>Layla Grace Wright</li>
                    <li>Isla Mae Ellman</li>
                    <li>Evelyn</li>
                </ul>
            </div>
            <div>
                <h2 class="mb-1 text-4xl">Ring Bearer</h2>
                <ul class="flex flex-col justify-center items-center">
                    <li>Parker Peter Wright</li>
                    <li>Jayce</li>
                    <li>Duke</li>
                </ul>
            </div>

        </dl> -->
    </main>
</Layout>