---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import mainImage from '../photos/main-3.jpg'
import bgImage from '../photos/main-bg-cropped.jpg'
---

<Layout title="Kyle & Jasmine's Wedding.">
	<main class="min-h-screen overflow-hidden">
		<article class="w-full flex-col">
			<Image class="w-full" width={1500} src={mainImage} loading={'eager'} alt="Kyle and Jasmine holding hands"></Image>
			<div class="flex flex-col items-center pt-10 parallax relative" style={`background-image: url(${bgImage.src})`}>
				<div class="h-full w-full opacity-40 absolute top-0 bg-white"></div>
				<div class="bg-none z-10 min-h-screen">
					<h1>July 12 2024</h1>
					<p>Here's all the information you need:</p>
					<ul>
						<li><a href="/program">Wedding Program</a></li>
					</ul>
				</div>			
			</div>
		</article>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
