---
import Layout from '../layouts/Layout.astro';
import { Image, getImage } from 'astro:assets';
import mainImage from '../photos/main-3.jpg';
import logo from '../photos/logo.png';
import bgImage from '../photos/hands.jpg';


const optimizedBackgroundImage = await getImage({ src: bgImage, width: 1000 })
---
<script src="https://kit.fontawesome.com/93785fb270.js" crossorigin="anonymous" transition:persist="fa"></script>
<Layout title="Kyle & Jasmine's Wedding">
	<main class="min-h-screen">
		<article class="w-full flex-col">
			<Image class="w-full max-h-screen object-cover" style="object-position: 0% 25%" width={1200} src={mainImage} loading={'eager'} alt="Kyle and Jasmine holding hands"></Image>
			<div class="flex flex-col items-center pt-10 parallax relative pb-8" style={`background-image: url(${optimizedBackgroundImage.src})`}>
				<div class="h-full w-full opacity-95 absolute top-0 bg-white"></div>
				<div class="bg-none z-10 min-h-screen w-full max-w-5xl mx-auto flex flex-col justify-center mb-16">
					<Image class="mx-auto rounded-lg" width={300} src={logo} loading={'lazy'} alt="Kyle and Jasmine" style="box-shadow: inset 0px 0px 10px #555, 0px 0px 11px #555;"></Image>
					<h1 class="text-black mb-0 text-center px-4" style="font-family: 'Playfair Display';"><span class="text-2xl leading-loose">Invite you to their wedding on</span> <br/> July 12 2024</h1>
					<div class="flex justify-center w-full mt-16 mb-4 sticky top-16 z-20 px-4">
						<a href="/rsvp" class="mx-auto rounded-lg rsvp-btn text-xl sm:text-2xl font-bold text-black"><span class="contents" transition:name="rsvp-transition">RSVP</span> BY 10th May 2024</a>
					</div>

					<div class="home-border mt-16 mb-20"></div>

					<div class="timeline-group flex flex-col max-w-2xl mx-auto justify-start" transition:name="program-t">
						<div class="timeline w-full flex flex-col justify-start gap-4 pb-8">
							<p class="text-xl">11:30AM</p>
							<h3 class="text-5xl my-4" style="font-family: 'WindSong';" >Ceremony</h3>
							<p class="text-xl font-bold">15 Shannon Boulevard</p>
						</div>
						<div class="timeline w-full flex flex-col justify-start gap-4 pb-8">
							<p class="text-xl">12:30PM</p>
							<h3 class="text-5xl my-4" style="font-family: 'WindSong';" >Reception</h3>
							<p class="text-xl font-bold"><a href="/venue" class="hover:border-0 hover:no-underline heading-link border-b-2 transition-none block w-fit hover:mb-0.5" transition:name="venue-transition">Club Eastwood</a></p>
						</div>
					</div>
					
					<a class="mx-auto mt-12 rounded-md rsvp-btn font-bold text-black rsvp-btn-small text-base program-btn" href="/program">View detailed program and menu</a>
					
					<div class="home-border mt-20 mb-20"></div>

					<h2 class="mb-8 text-center px-4">Our Message</h2>
					<blockquote class="text-center mx-auto font-semibold text-base leading-9 max-w-prose" style="max-width: 80ch"	>We are so excited to share this day with all of you. We hope you'll join us on the 12th of July to celebrate our  big day! If you have questions, we might have answers on our <a href="/faq" class="underline">FAQS</a> page, if not please don't hesitate to message the couple.</blockquote>
					<div class="home-border mt-12 mb-20"></div>
					<h2 class="mb-4 text-center px-4">Info for the wedding</h2>
					<p class="px-8 sm:px-20 font-semibold text-center text-base mx-auto leading-9" style="max-width: 80ch">The ceremony is to be held in our backyard with no cover (except in the event of rain). Reception will be indoors with assigned seats and the bar will be open for drink orders. Dress code will be semi-formal and we ask that you please dress to the below colour palette.</p>
					<div class="colour-palette mx-auto flex items-center gap-4 my-4">
						<div class="w-full flex justify-center items-center">
							<div class="little-box-shadow rounded-full border-solid border-2 w-16 aspect-square border-black" style="background-color: #D7BB98;"></div>
						</div>
						<div class="w-full flex justify-center items-center">
							<div class="little-box-shadow rounded-full border-solid border-2 w-16 aspect-square border-black" style="background-color: #698c6d;"></div>
						</div>
						<div class="w-full flex justify-center items-center">
							<div class="little-box-shadow rounded-full border-solid border-2 w-16 aspect-square border-black" style="background-color: #d4938b;"></div>
						</div>
						<div class="w-full flex justify-center items-center">
							<div class="little-box-shadow rounded-full border-solid border-2 w-16 aspect-square border-black" style="background-color: #024c3c;"></div>
						</div>
					</div>
					<div class="home-border mt-20 mb-20"></div>
					<h2 class="mb-4 text-center px-4" transition:name="hotels-transition">Hotels</h2>
					<p class="px-8 sm:px-20 font-semibold text-center text-base mx-auto leading-9">There are several hotels and inns in the area if you wish to stay in Bairnsdale over the weekend or overnight. We have listed a selection of them <a class="underline" href="/hotels">here.</a></p>
					<div class="home-border mt-20"></div>
				</div>
			</div>
		</article>
	</main>
</Layout>

<style>
	h1 {
		font-size: 64px;
	}
	main {
		margin: auto;
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
