---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import programBg from '../photos/program-bg.jpg';
---


<Layout title='Program'>
    <main>
        <div class="relative">
            <h1 transition:name="program-transition" class="mx-auto w-fit sticky z-10 h-0 py-0 my-0 text-white top-1/4 pb-16 -mb-4">Program</h1>
            <Image class="w-full grayscale" width={1500} src={programBg} loading={'eager'} alt="Kyle and Jasmine"></Image>
        </div>
        <div class="mb-32">
            <div class="mx-auto w-fit rounded program">
                <ul>
                    <li>11:00-11:20: Guests arrive welcome drinks and finger foods available</li>
                    <li>11:20-11:30: Guests to be seated</li>
                    <li>11:35-12:00: Wedding Ceremony</li>
                    <li>12:00-12:30: Wedding guests to travel to the venue</li>
                    <li>12:30-1:00: Guest arrival, Bar is open and canapes to be served</li>
                    <li>1:05: guests to be seated</li>
                    <li>1:06-1:10: Bride and Groom arrive and have their first dance</li>
                    <li>1:10-1:20: MC welcomes guest and wedding party</li>
                    <li>1:20: Mains is served (Bride and groom to walk around and have photos taken</li>
                    <li>1:45: Mains to be cleared</li>
                    <li>1:50: Wedding Shoe Game</li>
                    <li>2:00: Dessert</li>
                    <li>2:20: Wedding slideshow? While eating dessert</li>
                    <li>2:30: Chair Game?</li>
                    <li>2:50: Speaker 3</li>
                    <li>2:55: Wedding garter</li>
                    <li>3:15: Wedding Bouquet</li>
                    <li>3:25: Garter and Bouquet people dance</li>
                    <li>3:30: Bride and Groom to make speech, cut the cake and have another dance</li>
                </ul>
            </div>
            <h2 class="mx-auto w-fit my-8">When and where?</h2>
            <div class="gap-10 grid grid-cols-1 sm:grid-cols-2 max-w-3xl md:mx-auto mx-5">
                <div class="border-b-black border-b-2">
                    <h3 class="mx-auto w-fit text-3xl italic">Ceremony</h3>
                    <p class="text-lg font-bold">15 Shannon Boulevard</p>
                    <p class="text-lg">11:30AM</p>
                </div>
                <div class="border-b-black border-b-2">
                    <h3 class="mx-auto w-fit text-3xl italic">Reception</h3>
                    <p class="text-lg font-bold">Club Eastwood</p>
                    <p class="text-lg">12:30PM</p>
                </div>
            </div>
        </div>
    </main>

    <style>
    </style>
</Layout>