---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import programBg from '../photos/program-bg.jpg';
---


<Layout title='Program'>
    <main>
        <div class="relative">
            <h1 transition:name="program-transition" class="mx-auto w-fit sticky z-10 h-0 py-0 my-0 text-white top-1/4 pb-16">Program</h1>
            <Image class="w-full grayscale" width={1500} src={programBg} loading={'eager'} alt="Kyle and Jasmine"></Image>
        </div>
        <div class="mb-32">
            <h2 class="mx-auto w-fit my-8">When and where?</h2>
            <div class="gap-10 grid grid-cols-1 sm:grid-cols-2 max-w-3xl md:mx-auto mx-5">
                <div class="border-b-black border-b-2">
                    <h3 class="mx-auto w-fit text-3xl italic">Ceremony</h3>
                    <p class="text-lg font-bold">15 Shannon Boulevard</p>
                    <p class="text-lg">11:30AM</p>
                </div>
                <div class="border-b-black border-b-2">
                    <h3 class="mx-auto w-fit text-3xl italic">Reception</h3>
                    <p class="text-lg font-bold">Club Eastwood</p>
                    <p class="text-lg">12:30PM</p>
                </div>
            </div>
        </div>
    </main>

    <style>
    </style>
</Layout>