---
import { getImage, Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import bgImage from '../photos/hands.jpg'
import program from '../photos/program.png';
import menu from '../photos/menu.png';

const optimizedBackgroundImage = await getImage({ src: bgImage, width: 1000 })
---


<Layout title='Program'>
    <main class="min-h-screen mt-12">
        <div class="flex flex-col items-center pt-10 parallax pb-32 overflow-hidden relative" style={`background-image: url(${optimizedBackgroundImage.src})`}>
            <div class="h-full w-full opacity-70 absolute top-0 bg-white"></div>
            <h1 class="mx-auto w-fit my-8 z-10">When and where?</h1>
            <div class="gap-44 grid grid-cols-1 sm:grid-cols-2 max-w-3xl md:mx-auto mx-5 z-10">
                <div class="border-b-black border-b-2">
                    <h3 class="mx-auto w-fit text-3xl italic">Ceremony</h3>
                    <p class="text-lg font-bold">15 Shannon Boulevard</p>
                    <p class="text-lg">11:30AM</p>
                </div>
                <div class="border-b-black border-b-2">
                    <h3 class="mx-auto w-fit text-3xl italic">Reception</h3>
                    <p class="text-lg font-bold">Club Eastwood</p>
                    <p class="text-lg">12:30PM</p>
                </div>
            </div>
            <Image class="z-10 border-black border-2 border-solid mt-8" width={700} src={program} loading={'eager'} alt="Grand terminus hotel" style="box-shadow: 4px 4px 10px 4px #555;"></Image>
            <div class="home-border mt-8 mb-8 z-10"></div>
            <Image class="z-10 border-black border-2 border-solid" width={700} src={menu} loading={'eager'} alt="Grand terminus hotel" style="box-shadow: 4px 4px 10px 4px #555;"></Image>
        </div>
    </main>

    <style>
    </style>
</Layout>