---
import { getImage, Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import bgImage from '../photos/hands.jpg'
import program from '../photos/program.png';
import menu from '../photos/menu.png';
import menu2 from '../photos/menu-2.png';

const optimizedBackgroundImage = await getImage({ src: bgImage, width: 1000 })
---


<Layout title='Program'>
    <main class="min-h-screen mt-12">
        <div class="flex flex-col items-center pt-10 parallax pb-32 overflow-hidden relative px-4" style={`background-image: url(${optimizedBackgroundImage.src})`}>
            <div class="h-full w-full opacity-70 absolute top-0 bg-white"></div>
            <h1 class="mx-auto w-fit my-8 z-10 sm:block flex flex-col items-center gap-2">
                <span>Program</span>
                <span class="text-2xl sm:text-5xl">and</span>
                <span>Menu</span>
            </h1>
            <div class="timeline-group flex flex-col max-w-2xl mx-auto justify-start" transition:name="program-t">
                <div class="timeline w-full flex flex-col justify-start gap-4 pb-8">
                    <p class="text-xl">11:30AM</p>
                    <h3 class="text-5xl my-4" style="font-family: 'WindSong';" >Ceremony</h3>
                    <p class="text-xl font-bold">15 Shannon Boulevard</p>
                </div>
                <div class="timeline w-full flex flex-col justify-start gap-4 pb-8">
                    <p class="text-xl">12:30PM</p>
                    <h3 class="text-5xl my-4" style="font-family: 'WindSong';" >Reception</h3>
                    <p class="text-xl font-bold"><a href="/venue" class="hover:border-0 hover:no-underline heading-link border-b-2 transition-none block w-fit hover:mb-0.5" transition:name="venue-transition">Club Eastwood</a></p>
                </div>
            </div>
            <Image class="z-10 border-black border-2 border-solid mt-8" width={700} src={program} loading={'eager'} alt="Program" style="box-shadow: 4px 4px 10px 4px #555;"></Image>
            <div class="home-border mt-8 mb-8 z-10"></div>
            <Image class="z-10 border-black border-2 border-solid" width={700} src={menu} loading={'eager'} alt="Menu page 1" style="box-shadow: 4px 4px 10px 4px #555;"></Image>
            <div class="home-border mt-8 mb-8 z-10"></div>
            <Image class="z-10 border-black border-2 border-solid" width={700} src={menu2} loading={'lazy'} alt="Menu page 2" style="box-shadow: 4px 4px 10px 4px #555;"></Image>
            <div class="home-border mt-16 z-10"></div>
        </div>
    </main>

    <style>
    </style>
</Layout>