---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='This is my astro page'>
    <main>
        <h1 class="text-orange-500 mx-auto w-fit text-3xl">This is my astro page</h1>
    </main>
</Layout>