---
import { getImage, Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import bgImage from '../photos/hands.jpg';
import clubeastwood from '../photos/clubeastwood.jpg';

const optimizedBackgroundImage = await getImage({ src: bgImage, width: 1000 })
---

<Layout title='Venue'>
    <main class="min-h-screen">
        <div class="flex flex-col items-center pt-10 parallax relative min-h-screen pb-32 px-4" style={`background-image: url(${optimizedBackgroundImage.src})`}>
            <div class="h-full w-full opacity-70 absolute top-0 bg-white"></div>
            <h1 class="my-8 z-10">Venue</h1>
            <div class="mx-auto z-10">
                <h2 class="text-darkgreen" transition:name="venue-transition">Club Eastwood</h2>
                <p class="text-xl mb-1 font-bold" transition:name="venue-address">117 Great Alpine Road, Bairnsdale</p>
                <a class="text-lightgreen font-bold" target="_blank" href="https://www.clubeastwood.com.au">www.clubeastwood.com.au</a><br/>
                <a class="text-lightgreen font-bold" href="tel:0351525242">(03) 5152 5242</a>
            </div>
            <div class="relative mx-auto grid grid-cols-1 md:grid-cols-2 justify-center gap-4 mt-8">
                <div class="flex items-center p-4">
                    <iframe
                        class="max-w-full"
                        width="600"
                        height="400"
                        style="border:0"
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ5buHsh-AL2sRUKZvCEvltF0&key=AIzaSyAxeazyzmkzcGL-ZLISqtHD3GolEqEZ4pg"
                        allowfullscreen>
                        </iframe>
                </div>
                <Image class="mx-auto border-black border-2 border-solid my-8" width={500} src={clubeastwood} loading={'lazy'} alt="Club Eastwood entrance" style="box-shadow: 4px 4px 10px 4px #555;"></Image>
            </div>
        </div>
        
    </main>

    <style>
    </style>
</Layout>